<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netflow.mapper.RoleMapper">

    <resultMap id ="roleResult" type ="com.netflow.bean.Role">
        <result column="id" property ="id" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_person" property="createPerson" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_person" property="updatePerson" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getRoleList" parameterType="java.util.Map" resultMap="roleResult">
        select * from authority.role
         <if test="appId != null and appId != ''">
             where app_id = #{appId}
         </if>
         <if test="page != null and limit != null">
             limit #{page},#{limit}
         </if>
    </select>

    <select id="getRoleByKey" parameterType="java.util.Map" resultMap="roleResult">
        select * from authority.role
        where role_name like '%${keyword}%'
        <if test="appId != null and appId != ''">
            and app_id = #{appId}
        </if>
        limit ${page},${limit}
    </select>

    <select id="getRoleById" parameterType="java.lang.String" resultMap="roleResult">
        select * from authority.role where id = #{id}
    </select>

    <select id="getRoleByRoleName" parameterType="java.util.Map" resultMap="roleResult">
        select * from authority.role where role_name = #{roleName}
        <if test="appId != null and appId != ''">
            and app_id = #{appId}
        </if>
    </select>

    <select id="countRole"  parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from authority.role
        <if test="appId != null and appId != ''">
            where app_id = #{appId}
        </if>
    </select>

    <select id="countRoleByKey" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from authority.role where role_name like '%${keyword}%'
        <if test="appId != null and appId != ''">
            and app_id = #{appId}
        </if>
    </select>

    <insert id="insertRole" parameterType="com.netflow.bean.Role">
        insert into  authority.role(id,role_name,app_id,create_time,create_person,update_time,update_person)
        values(#{id},#{roleName},#{appId},#{createTime},#{createPerson},#{updateTime},#{updatePerson})
    </insert>

    <update id="updateRole" parameterType="com.netflow.bean.Role">
        update authority.role
        <trim prefix="set" suffixOverrides=",">
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName} ,
            </if>
            <if test="appId != null and appId != ''">
                app_id = #{appId} ,
            </if>
            <if test="createPerson != null and createPerson != ''">
                create_person = #{createPerson} ,
            </if>
            <if test="createTime != null">
                create_time = #{createTime} ,
            </if>
            <if test="updatePerson != null and updatePerson != ''">
                update_person = #{updatePerson} ,
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime} ,
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRoleById" parameterType="java.lang.String">
        delete from authority.role where id = #{id}
    </delete>


</mapper>
